.nike-4-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.property-1nike-4 {
  position: relative;
  width: 921px;
  height: 745px;
  z-index: 0;
}
.property-1nike-3 {
  position: absolute;
  margin: 0 !important;
  top: 199px;
  left: 63px;
  width: 836px;
  height: 387px;
  z-index: 1;
}
.component-2 {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: rgba(12, 34, 235, 0.38);
  border: 1px dashed #cd0eba;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
