.union-icon {
  position: relative;
  width: 98.63px;
  height: 153.24px;
}
.property-1frame-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.exclude-child,
.exclude-item {
  position: absolute;
  height: 82.46%;
  width: 50%;
  top: 0;
  right: 23.91%;
  bottom: 17.54%;
  left: 26.09%;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-gainsboro);
}
.exclude-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-2xs) var(--br-2xs);
  background-color: var(--color-crimson-100);
}
.exclude,
.property-1exclude {
  position: relative;
  width: 72.81px;
  height: 132px;
}
.exclude {
  background-color: var(--color-darkslateblue);
}
.property-1exclude {
  z-index: 1;
}
.property-1subtract-icon {
  position: relative;
  width: 145.31px;
  height: 158.37px;
  z-index: 2;
}
.property-1union-icon {
  position: relative;
  width: 131.18px;
  height: 151.95px;
  z-index: 3;
}
.property-1ellipse-1 {
  position: absolute;
  margin: 0 !important;
  top: -124.25px;
  left: 236.57px;
  width: 46.64px;
  height: 40.78px;
  z-index: 4;
}
.component-3,
.tesst {
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.component-3 {
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  width: 366.18px;
  height: 333.27px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-12xl);
  align-items: flex-start;
  gap: var(--gap-xs);
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.tesst {
  width: 100%;
  height: 924px;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
}
